<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//Mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.mapper.UserMapper">
    <select id="selectUserById" parameterType="Integer"
            resultType="cn.edu.zjut.po.MyUser">
        Select *
        from user
        where uid = #{uid}
    </select>
    <!--    <select id="selectAllUser" resultType="cn.edu.zjut.po.MyUser"-->
    <!--            parameterType="cn.edu.zjut.pojo.SelectUserParam">-->
    <!--        Select *-->
    <!--        from user-->
    <!--        where uname like concat('%', #{u_name}, '%')-->
    <!--          and usex = #{u_sex}-->
    <!--    </select>-->
    <select id="selectAllUser" resultType="map">
        Select *
        from user
    </select>
    <insert id="addUser" parameterType="cn.edu.zjut.po.MyUser">
        Insert into user (uname, usex)
        values (#{uname}, #{usex})
    </insert>
    <update id="updateUser" parameterType="cn.edu.zjut.po.MyUser">
        update user
        set uname=#{uname},
            usex=#{usex}
        where uid = #{uid}
    </update>
    <delete id="deleteUser" parameterType="Integer">
        delete
        from user
        where uid = #{uid}
    </delete>
    <resultMap type="cn.edu.zjut.pojo.MapUser" id="myResult">
        <!-- property 是 com.pojo.MapUser 类中的属性-->
        <!-- column 是查询结果的列名，可以来自不同的表 -->
        <id property="m_uid" column="uid"/>
        <result property="m_uname" column="uname"/>
        <result property="m_usex" column="usex"/>
    </resultMap>
    <select id="selectResultMap" resultMap="myResult">
        Select *
        from user
    </select>

    <insert id="insertMapUser">
        INSERT INTO user (uid, uname, usex)
        VALUES (#{m_uid}, #{m_uname}, #{m_usex})
    </insert>

    <update id="updateMapUser">
        UPDATE user
        SET uname = #{m_uname},
            usex  = #{m_usex}
        WHERE uid = #{m_uid}
    </update>

    <delete id="deleteMapUser">
        DELETE
        FROM user
        WHERE uid = #{m_uid}
    </delete>
</mapper>


