<launch>
    <arg name="camDevice" default="USBCam" doc="camDevice type [USBCam]"/>
    <arg name="open_rviz" default="true"/>
    <arg name="marker_size" default="5.0"/>
    <arg name="max_new_marker_error" default="0.08"/>
    <arg name="max_track_error" default="0.2"/>
    <arg name="cam_image_topic" default="/usb_cam/image_raw" if="$(eval arg('camDevice') == 'USBCam')"/>
    <arg name="cam_info_topic" default="/usb_cam/camera_info" if="$(eval arg('camDevice') == 'USBCam')"/>
    <arg name="output_frame" default="/usb_cam" if="$(eval arg('camDevice') == 'USBCam')"/>
    <include if="$(eval arg('camDevice') == 'USBCam')" file="$(find usb_cam)/launch/usb_cam-test.launch"/>
    <node  if="$(eval arg('camDevice') == 'USBCam')" pkg="tf" type="static_transform_publisher" name="world_to_cam"
          args="0 0 0.5 0 1.57 0 world usb_cam 10"/>
    <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
        <param name="marker_size" type="double" value="$(arg marker_size)"/>
        <param name="max_new_marker_error" type="double" value="$(arg max_new_marker_error)"/>
        <param name="max_track_error" type="double" value="$(arg max_track_error)"/>
        <param name="output_frame" type="string" value="$(arg output_frame)"/>
        <remap from="camera_image" to="$(arg cam_image_topic)"/>
        <remap from="camera_info" to="$(arg cam_info_topic)"/>
    </node>
    <group if="$(arg open_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find transbot_visual)/rviz/ar_track.rviz"/>
    </group>
</launch>

