<launch>
    <!-- USB摄像头1 - 连接到/dev/video0 -->
    <node name="usb_cam_1" pkg="usb_cam" type="usb_cam_node" output="screen">
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="mjpeg" />
        <param name="camera_frame_id" value="camera1" />
        <param name="io_method" value="mmap"/>
        <param name="framerate" value="30"/>
        <remap from="/usb_cam_1/image_raw" to="/camera1/image_raw"/>
        <remap from="/usb_cam_1/camera_info" to="/camera1/camera_info"/>
    </node>

    <!-- USB摄像头2 - 连接到/dev/video2 -->
    <node name="usb_cam_2" pkg="usb_cam" type="usb_cam_node" output="screen">
        <param name="video_device" value="/dev/video2" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="mjpeg" />
        <param name="camera_frame_id" value="camera2" />
        <param name="io_method" value="mmap"/>
        <param name="framerate" value="30"/>
        <remap from="/usb_cam_2/image_raw" to="/camera2/image_raw"/>
        <remap from="/usb_cam_2/camera_info" to="/camera2/camera_info"/>
    </node>
</launch>
