<launch>
    <!-- 只测试第一个USB摄像头 -->
    <node name="usb_cam_1" pkg="usb_cam" type="usb_cam_node" output="screen">
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="mjpeg" />
        <param name="camera_frame_id" value="camera1" />
        <param name="io_method" value="mmap"/>
        <param name="framerate" value="30"/>
        <remap from="/usb_cam_1/image_raw" to="/camera1/image_raw"/>
        <remap from="/usb_cam_1/camera_info" to="/camera1/camera_info"/>
    </node>
</launch>
