#!/usr/bin/env python

PACKAGE = "opencv_apps"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("use_camera_info", bool_t, 0, "Indicates that the camera_info topic should be subscribed to to get the default input_frame_id. Otherwise the frame from the image message will be used.", False)
gen.add("threshold", int_t, 0, "Threshold of corner.", 200, 0, 255)

exit(gen.generate(PACKAGE, "corner_harris", "CornerHarris"))
