#!/usr/bin/env python

PACKAGE = "opencv_apps"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("use_camera_info", bool_t, 0, "Indicates that the camera_info topic should be subscribed to to get the default input_frame_id. Otherwise the frame from the image message will be used.", False)

gen.add ("h_limit_max", int_t, 0, "The maximum allowed field value Hue", 360, 0, 360)
gen.add ("h_limit_min", int_t, 0, "The minimum allowed field value Hue", 0, 0, 360)
gen.add ("s_limit_max", int_t, 0, "The maximum allowed field value Saturation", 256, 0, 256)
gen.add ("s_limit_min", int_t, 0, "The minimum allowed field value Saturation", 0, 0, 256)
gen.add ("l_limit_max", int_t, 0, "The maximum allowed field value Lightness", 256, 0, 256)
gen.add ("l_limit_min", int_t, 0, "The minimum allowed field value Lightness", 0, 0, 256)

exit(gen.generate(PACKAGE, "color_filter", "HLSColorFilter"))
