<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.zjut.dao.OrderDao">

    <!-- 根据订单ID查询订单信息 -->
    <select id="getOrderById" resultType="cn.edu.zjut.pojo.Order">
        SELECT id, orderNumber, userId
        FROM `order`
        WHERE id = #{id}
    </select>

</mapper>
