<launch>
    <arg name="namespace" default="robot1"/>
    <arg name="is_mulity" default="false">
    <node name="transbot_keyboard" pkg="transbot_ctrl" type="transbot_keyboard.py" output="screen">
        <param name="linear_speed_limit" type="double" value="0.45"/>
        <param name="angular_speed_limit" type="double" value="2.0"/>
        <remap from="/cmd_vel" to="cmd_vel"/>
    </node>
    </group>
</launch>
